<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.xiezhenyu.mapper.FatherModuleMapper">
    <resultMap id="FatherModuleVoMap" type="com.xiezhenyu.entity.FatherModuleVo">
        <id property="id" column="id"/>
        <result property="moduleName" column="module_name"/>
        <result property="sort" column="sort"/>
        <collection property="sonModuleList" ofType="com.xiezhenyu.entity.SonModuleVo">
            <id property="id" column="s_id"/>
            <result property="moduleName" column="s_module_name"/>
            <result property="info" column="s_info"/>
            <result property="userId" column="s_user_id"/>
            <result property="sort" column="s_sort"/>
        </collection>
    </resultMap>

    <select id="selectListFatherModuleVo" resultMap="FatherModuleVoMap" resultType="java.util.ArrayList">
        select
        f.id,f.module_name,f.sort,
        s.id s_id,s.module_name s_module_name,s.info s_info,s.user_id s_user_id,s.sort s_sort
        from father_module f join son_module s
        on f.id = s.father_module_id where f.id = s.father_module_id
        limit #{param1},#{param2}
    </select>

</mapper>