<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.xiezhenyu.mapper.ReplyMapper">
    <resultMap id="ReplyVoMap" type="com.xiezhenyu.entity.ReplyVo">
        <id property="id" column="id"/>
        <result property="fatherReplyId" column="father_reply_id"/>
        <result property="contentId" column="content_id"/>
        <result property="content" column="content"/>
        <result property="time" column="time"/>
        <association property="userVo" javaType="com.xiezhenyu.entity.UserVo">
            <id property="id" column="u_id"/>
            <result property="username" column="u_username"/>
            <result property="level" column="u_level"/>
            <result property="image" column="u_image"/>
        </association>
    </resultMap>
    <resultMap id="ReReplyVoMap" type="com.xiezhenyu.entity.ReplyVo">
        <id property="id" column="id"/>
        <result property="fatherReplyId" column="father_reply_id"/>
        <result property="contentId" column="content_id"/>
        <result property="content" column="content"/>
        <result property="time" column="time"/>
        <association property="userVo" javaType="com.xiezhenyu.entity.UserVo">
            <id property="id" column="u_id"/>
            <result property="username" column="u_username"/>
        </association>
        <collection property="replyVo" ofType="com.xiezhenyu.entity.ReplyVo">
            <id property="id" column="r_id"/>
            <association property="userVo" javaType="com.xiezhenyu.entity.UserVo">
                <id property="id" column="ru_id"/>
                <result property="username" column="ru_username"/>
            </association>
        </collection>
    </resultMap>
    <resultMap id="PersonalReply" type="com.xiezhenyu.entity.PersonalReplyVo">
        <id property="id" column="id"/>
        <result property="time" column="time"/>
        <result property="content" column="content"/>
        <association property="contentDo" javaType="com.xiezhenyu.model.ContentDo">
            <id property="id" column="c_id"/>
            <result property="title" column="c_title"/>
        </association>
    </resultMap>

    <select id="getReplyVoList" resultMap="ReplyVoMap">
        select r.id,r.content,r.time,r.content_id,r.father_reply_id,
        u.id u_id,u.username u_username,u.image u_image,u.level u_level
        from reply r
        join user u on r.user_id = u.id
        where r.content_id = #{param1} and r.father_reply_id is null
        limit #{param2},#{param3}
    </select>

    <select id="getReReplyVoList" resultMap="ReReplyVoMap">
        select
        r.id,r.content,r.time,r.content_id,r.father_reply_id,
        u.id u_id,u.username u_username,
        rr.id r_id,
        ru.id ru_id,
        ru.username ru_username
        from reply r
        left join user u on r.user_id = u.id
        left join reply rr on r.quote_id = rr.id
        left join user ru on rr.user_id = ru.id
        where r.content_id = #{param1} and r.father_reply_id = #{param2}
        limit #{param3},#{param4}
    </select>
    
    <select id="getPersonalReplyVoByUserId" resultMap="PersonalReply">
        select
        r.id,r.time,r.content,c.id c_id,c.title c_title
        from reply r
        join content c
        on r.content_id = c.id
        where r.user_id = #{param1}
        order by r.time desc
        limit #{param2},#{param3}
    </select>

</mapper>